body {
    margin: 0;
    padding: 0;
    background: #FFF2EB;      
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.8;
    background: #e5bf9a;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: #683f3a;             
    margin: 50px 0 20px 0;
    background-color: #e5bf9a;
}

.greeting {
    text-align: center;
    font-size: 28px;
    color: #683f3a;            
    margin-bottom: 50px;
    background-color: #e5bf9a;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #ec3471;             
    margin: 70px 0 50px 0;
    background-color: #e5bf9a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 60px 0;
}

th {
    background: #FFD6BA;       
    color: #5D4037;            
    padding: 20px;
    font-size: 26px;
}

td {
    background: #FFE8CD;        
    padding: 40px;
    text-align: center;
    font-size: 22px;
}

.flavor-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #FFD6BA; 
    margin-bottom: 15px;
}

.flavor-name {
    font-size: 28px;
    font-weight: bold;
    color: #E91E63;            
    margin: 10px 0;
}

.price {
    font-size: 26px;
    color: #D84315;            
    font-weight: bold;
}

.bayad {
    background: #FFDCDC;        
    padding: 50px;
    text-align: center;
    margin: 80px 0;
    font-size: 24px;
}

.big {
    font-size: 60px;
    color: #E91E63;             
    font-weight: bold;
}

.bulk, .stock {
    background: #FFF2EB;        
    padding: 40px;
    text-align: center;
    margin: 70px 0;
    font-size: 22px;
}

footer {
    background: #FFD6BA;        
    color: #5D4037;
    text-align: center;
    padding: 50px;
    font-size: 22px;
    margin-top: 100px;
}

.hero {
    width: 100%;
    margin: 0 0 40px 0;
    text-align: center;
    overflow: hidden;
}

.hero img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-bottom: 8px solid #FFD6BA;
}

caption {
    font-size: 18px;
    color: #ebe7e6;            
    margin-top: 10px;
    font-size: xx-large;
    border: 8px solid #5D4037;
    background:#5D4037;
}